<b> Short Hexadem FAQ</b><P><P><P><P><P>

<table id='aboutt'>
<tr>
<td>
What is Hexadem?
</td>
<td>
It's just a coder web-application.

</td>
</tr>
<tr>
<td>
How to use Hexadem?
</td>
<td>
To encode and decode the text you need to have
input the text and the key. 


</td>
</tr>
<tr>
<td>
It doesn't hide your data from the FBI and KGB
</td>
<td>
But it will hide your text from ordinary people.

</td>
</tr>
<tr>
<td>
Your data is not collected.
</td>
<td>
It is not saved anywhere on the page nor in a database. 
When you leave or reload the page all your data is gone.

</td>
</tr>
<tr>
<td>
Does it really help?
</td>
<td>
It helps to some extent. There are tons of custom
ways to encode and encrypt your data. It is safe
as long as you don't tell others about Hexadem.

</td>
</tr>

<tr>
<td>
Disadvantages?
</td>
<td>
Yes. The length of the encoded data significantly 
depends on the key. 33 symbols of your text may 
turn into 156692 symbols which is around 150 Kilobytes.

</td>
</tr>
<tr>
<td>
Then why did you create this web-application?

</td>
<td>
It was a project to learn more about ruby and rails 
and I really enjoyed not only making my ideas alive,
but also predicting how people could use the application
and fixing bugs.


</td>
</tr>
</table>

<P><P><P>
<h3 align='center'>Beware!<P> Never tell anybody about this application! <P>
Your data safety is under risk!
</h3>

<P><P><P>


