<table class='homepix'>
<tr>
<td>
<%= link_to image_tag("question.svg", alt: 'question', size: '128x128', class: 'jump'), about_path %>
</td>
<td>
<%= link_to image_tag( "gear.svg", alt: 'gear', size: '128x128', class: 'gear'), coder_path, data: { turbolinks: false } %>
</td>
</tr>
</table>








  <% image_tag "flower.png", alt: 'flower', size: '128x128', class: 'flower' %>





  <% image_tag "hive.png", alt: 'hive', size: '128x128', class: 'hive' %>

  <% image_tag "droplet.png", alt: 'droplet', size: '128x128', class: 'droplet' %>

  <% image_tag "123.png", alt: '123', size: '128x128', class: 'exps' %>