html,body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F2C378;



  height: 100%;
  -webkit-font-smoothing: antialiased; }
  


body {
  color: #333;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 30px;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  flex-direction: column;
  align-items: auto;
    width: auto;

  background-image: url('beeckground.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 5% 30%;
  
}




a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

table, th, td {
    border: 5px ;
}

#aboutt{
    background-color: rgba(242,195,120,.6)

}


#codert{
    background-color: rgba(242,195,120,.4);
     border-spacing: 15px;
        border-collapse: separate;

}


td,th {
padding-top: 2px;
  padding: 0 15px 20px;
  width: 200px;
vertical-align:top
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  display:none;
}


#window {
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 20%;
  top: 20%;
  background-color: #F2C378;
  border: solid 2px gray;
  display:none;
}



.gear {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



@keyframes jump {
  0%   {transform: scale3d(1,1,1);}
  100% {transform: scale3d(1,.96,1);}
}
.jump {
    position: absolute;
    top: 38%;
    left: 10%;
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}


/*
@keyframes exps {
  100%   {transform: translate3d(0,25%,0) ;}
  75% {transform: translate3d(0,50%,0) skew(20deg,00deg) ;}
  25% {transform: translate3d(0,75%,0) skew(00deg,20deg) ;}
    0% {transform: translate3d(0,100%,0)  ;}
    
}
@-webkit-keyframes exps { 
0% { -webkit-transform: translate3d(0,100%,0) rotate(0deg); }
1%{ -webkit-transform: rotate(1deg); }
  25% { -webkit-transform: translate3d(0,50%,0) skew(20deg,00deg) rotate(90deg);}
  75% { -webkit-transform: translate3d(0,75%,0) skew(00deg,20deg) rotate(270deg);}
  50%{ -webkit-transform: rotate(180deg); }

99% { -webkit-transform: translate3d(0,50%,0) skew(20deg,00deg) rotate(359deg); }
100%{ -webkit-transform: rotate(360deg); }

 }
*/


@keyframes exps { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg) skew(00deg,90deg)} }
@-moz-keyframes exps { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes exps { 
 0%  { -webkit-transform: rotate(0deg) translateX(5px) translateY(120px) rotate(0deg) scale(1) ; }
 25%  { -webkit-transform: translateX(5px) translateY(120px) rotate(-90deg) scale(.75); }
 50%  { -webkit-transform:  translateX(5px) translateY(120px) rotate(-180deg) scale(.60); }
 75%  { -webkit-transform: rotate(270deg) translateX(5px) translateY(120px) rotate(-270deg) scale(.75); }
 100%  { -webkit-transform: rotate(360deg) translateX(5px) translateY(120px) rotate(-360deg) scale(1); }

 }


.exps {
    position: absolute;
    top: 20%;
    left: 30%;
     -webkit-animation:exps 4s linear infinite;
    -moz-animation:exps 4s linear infinite;
    animation:exps 5s linear infinite;
}




.flower {
    position: absolute;
    top: 56%;
    left: 38%;
  transform-origin: 50% 50%;
  animation: flower .4s linear alternate infinite;
}
@keyframes flower {
  0%   {transform: scale3d(1,1,1);}
  100% {transform: scale3d(.99,.99,1);}
}


.hive {
    position: absolute;
    top: 45%;
    left: 25%;
    -webkit-animation:hive 4s linear infinite;
    -moz-animation:hive 4s linear infinite;
    animation:hive 20s linear infinite;
}
@-moz-keyframes hive { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes hive { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes hive { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }




.droplet{
    position: absolute;
    top: 48%;
    left: 10%;


}











