<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container pull-left">
      <%= link_to "HEXADEM", root_path, id: "logo" %>
      <nav>
        <ul class="nav push-right">
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Coder",    coder_path, data: { turbolinks: false } %></li>
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
